body {
    top: 0 !important;
  }
  
  font {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  
  .goog-logo-link,
  .goog-te-banner-frame,
  .VIpgJd-ZVi9od-l4eHX-hSRGPd,
  .VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none !important;
  }
  
  .goog-te-gadget {
    color: transparent !important;
  }
  
  .goog-te-gadget .goog-te-combo {
    background-color: #11cb46 !important;
    color: white !important;
    font-size: 15px;
    /* border: 2px solid #000435; */
    border-radius: 5px;
    padding: 4px;
  }
  
  .goog-te-gadget .goog-te-combo option {
    color: white;
  }
  
  #goog-gt-tt,
  .goog-te-balloon-frame {
    display: none !important;
  }
  
  .goog-text-highlight {
    background: none !important;
    box-shadow: none !important;
  }
  
  .google-translate-container.hidden {
    display: none !important;
  }