absl-py==2.1.0
accelerate==0.27.2
aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.6.0
anyio==4.0.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.1.0
audioread==3.0.1
Babel==2.13.1
beautifulsoup4==4.12.2
binaryornot==0.4.4
bleach==6.1.0
blinker==1.7.0
bokeh==3.3.4
cachetools==5.3.3
certifi==2023.11.17
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
clipboard==0.0.4
cloudinary==1.39.0
cmake==3.22.2
colorama==0.4.6
comm==0.2.0
comtypes==1.3.1
contourpy==1.2.0
cookiecutter==2.6.0
crispy-bootstrap4==2024.1
cryptography==42.0.5
cssselect==1.2.0
ctransformers==0.2.27
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
dataclasses-json==0.6.4
debugpy==1.8.0
decorator==5.1.1
decouple==0.0.7
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
distlib==0.3.8
distro==1.9.0
dj-database-url==0.5.0
Django==5.0.3
django-allauth==0.61.1
django-browser-reload==1.12.1
django-ckeditor==6.7.1
django-crispy-forms==2.1
django-heroku==0.3.1
django-js-asset==2.2.0
django-tailwind==3.8.0
django-tinymce==3.7.1
djangorestframework==3.14.0
dm-tree==0.1.8
dnspython==2.6.1
dynaconf==3.2.4
entrypoints==0.4
evidently==0.4.16
executing==2.0.1
faiss-cpu==1.8.0
Faker==24.0.0
fastapi==0.110.0
fastjsonschema==2.19.0
favicon==0.7.0
feedfinder2==0.0.4
feedparser==6.0.11
ffmpy==0.3.2
filelock==3.13.1
Flask==3.0.2
Flask-Cors==4.0.0
Flask-Login==0.6.3
Flask-Material==0.1.1
Flask-SQLAlchemy==3.1.1
flatbuffers==23.5.26
fonttools==4.49.0
fqdn==1.5.1
frozendict==2.4.0
frozenlist==1.4.1
fsspec==2024.2.0
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.42
google-auth==2.31.0
google-pasta==0.2.0
googletrans==3.0.0
gradio==4.21.0
gradio_client==0.12.0
greenlet==3.0.3
groq==0.4.2
grpcio==1.62.0
gTTS==2.5.1
gunicorn==20.0.4
h11==0.14.0
h2==3.2.0
h5py==3.10.0
hpack==3.0.0
hstspreload==2024.3.1
htbuilder==0.6.2
html5lib==1.1
httpcore==1.0.4
httpx==0.27.0
huggingface-hub==0.21.4
hyperframe==5.2.0
idna==2.10
imageio==2.34.2
importlib-metadata==7.0.1
importlib_resources==6.1.3
ipykernel==6.27.0
ipython==8.17.2
isoduration==20.11.0
iterative-telemetry==0.0.8
itsdangerous==2.1.2
jedi==0.19.1
jieba3k==0.35.1
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter-events==0.9.0
jupyter-lsp==2.2.0
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter_server==2.11.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.9
jupyterlab-pygments==0.2.2
jupyterlab_server==2.25.2
keras==3.0.5
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
langchain==0.1.9
langchain-community==0.0.27
langchain-core==0.1.30
langchain-groq==0.0.1
langchain-openai==0.0.8
langsmith==0.1.10
lazy_loader==0.4
libclang==16.0.6
librosa==0.10.1
litestar==2.6.3
llvmlite==0.42.0
loguru==0.7.2
lxml==5.1.0
Markdown==3.5.2
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.3
marshmallow==3.21.0
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
more-itertools==10.2.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.0.7
msgspec==0.18.6
multidict==6.0.5
multitasking==0.0.11
mypy-extensions==1.0.0
mysqlclient==2.2.4
namex==0.0.7
nbclient==0.9.0
nbconvert==7.11.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.2.1
newspaper3k==0.2.8
nltk==3.8.1
notebook==7.0.6
notebook_shim==0.2.3
numba==0.59.0
numpy==1.26.4
oauthlib==3.2.2
openai==1.13.3
opencv-python==4.9.0.80
opt-einsum==3.3.0
orjson==3.9.15
overrides==7.4.0
packaging==23.2
pandas==2.1.3
pandasql==0.7.3
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.6
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.0
peewee==3.17.1
peft==0.9.0
pgmpy==0.1.25
pickle-mixin==1.0.2
pillow==10.2.0
pinecone-client==2.2.4
platformdirs==4.0.0
playsound==1.3.0
plotly==5.19.0
polyfactory==2.15.0
pooch==1.8.1
prometheus-client==0.19.0
prompt-toolkit==3.0.41
protobuf==4.25.3
psutil==5.9.6
psycopg2==2.9.9
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==15.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAutoGUI==0.9.54
pycparser==2.21
pycryptodome==3.20.0
pydantic==2.6.3
pydantic_core==2.16.3
pydeck==0.8.1b0
pydub==0.25.1
pyfcm==2.0.4
pygame==2.5.2
PyGetWindow==0.0.9
PyGithub==2.2.0
Pygments==2.17.2
PyJWT==2.8.0
pymdown-extensions==10.7.1
PyMsgBox==1.0.9
PyNaCl==1.5.0
pyparsing==3.1.1
pypdf==4.1.0
PyPDF2==3.0.1
pypdfium2==4.28.0
pyperclip==1.8.2
pypiwin32==223
pyproject-toml==0.0.10
PyRect==0.2.0
PyScreeze==0.1.30
pytesseract==0.3.10
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.9
python-slugify==8.0.4
python3-openid==3.2.0
pyttsx3==2.90
pytube==15.0.0
pytweening==1.2.0
pytz==2023.3.post1
pywin32==306
pywinpty==2.0.12
PyYAML==6.0.1
pyzmq==25.1.1
referencing==0.31.0
regex==2023.12.25
requests==2.31.0
requests-file==2.0.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.7.0
rich-click==1.7.3
rpds-py==0.13.1
rsa==4.9
ruff==0.3.2
safetensors==0.4.2
scikit-image==0.24.0
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.2
sentence-transformers==2.5.1
setuptools==69.2.0
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
SpeechRecognition==3.10.1
SQLAlchemy==2.0.27
sqlparse==0.4.4
st-annotated-text==4.0.1
st-chat-message==0.3.8
st-pages==0.4.5
stack-data==0.6.3
starlette==0.36.3
statsmodels==0.14.1
streamlit==1.32.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-chat==0.1.1
streamlit-embedcode==0.1.2
streamlit-extras==0.4.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.3
streamlit-lottie==0.0.5
streamlit-option-menu==0.3.12
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
sympy==1.12
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-hub==0.16.1
tensorflow-intel==2.16.2
termcolor==2.4.0
terminado==0.18.0
text-unidecode==1.3
tf_keras==2.16.0
threadpoolctl==3.3.0
tifffile==2024.7.2
tiktoken==0.6.0
timedelta==2020.12.3
tinycss2==1.2.1
tinysegmenter==0.3
tk==0.1.0
tldextract==5.1.1
tokenizers==0.15.2
toml==0.10.2
tomlkit==0.12.0
toolz==0.12.1
torch==2.2.1
torchvision==0.17.1
tornado==6.3.3
tqdm==4.66.2
traitlets==5.13.0
transformers==4.38.2
typer==0.9.0
types-python-dateutil==2.8.19.14
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
tzlocal==5.2
uri-template==1.3.0
urllib3==2.1.0
uvicorn==0.28.0
validators==0.22.0
virtualenv==20.25.1
watchdog==4.0.0
wcwidth==0.2.12
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
websockets==11.0.3
Werkzeug==3.0.1
wheel==0.42.0
whitenoise==5.0.1
win32-setctime==1.1.0
wrapt==1.16.0
xgboost==2.0.3
xyzservices==2023.10.1
yarl==1.9.4
yfinance==0.2.37
youtube-transcript-api==0.6.2
zipp==3.17.0
