/* Global Styles */

/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}
.container{
    max-width: 90%;
    margin: auto;
    margin-top: 4rem;
}
h1, h2 {
  margin-bottom: 0.5em;
  color: #337ab7;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  margin-bottom: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 0.5em;
}

/* Article Styles */

.article-title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.author-credit {
  font-size: 0.8em;
  color: #666;
  text-align: center;
  margin-bottom: 1em;
}

.article-intro {
  font-size: 1.2em;
  margin-bottom: 2em;
}

/* Section Styles */

.section-title {
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.section-intro {
  font-size: 1em;
  margin-bottom: 1em;
}

/* Table Styles */

.disease-table {
 
  border-collapse: collapse;
  border-radius: 10px;
  margin-bottom: 2rem;
}

th, td {
    border-radius: 10px;
  border: 1px solid #ddd;
  padding: 0.5em;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #eee;
}

/* Responsive Styles */

@media only screen and (max-width: 768px) {
  .disease-table {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 480px) {
  .disease-table {
    font-size: 0.6em;
  }
}
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  /* Disease Styles */
  
  .disease {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .disease-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .disease-image {
    margin-bottom: 20px;
  }
  
  .disease-image-src {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .disease-description {
    margin-bottom: 20px;
  }
  
  .disease-symptoms {
    margin-bottom: 20px;
  }
  
  .disease-management {
    margin-bottom: 20px;
  }
  
  .disease-prevention {
    margin-bottom: 20px;
  }
  
  /* Responsive Design */
  
  @media only screen and (max-width: 768px) {
    .disease {
      margin-bottom: 40px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .disease {
      margin-bottom: 60px;
    }
    .disease-image-src {
      height: 150px;
    }
  }