blinker
click
colorama
flask
flask-cors
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
pandas
pytz
scikit-learn
scipy
six
threadpoolctl
tzdata
Werkzeug

tensorflow
Pillow

groq

requests
google-generativeai
python-dotenv

gunicorn
